*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0  10wv;
    background-color: grey;
    color: rgb(131, 10, 10);
    padding: 0 10vw;
    height: 150px;
}
.menu{
    list-style-type: none;
    display: flex;
    color: white;
    font-size: 1.2em;
    
}
.menu-item{
    margin-right: 20px;
}
.details{
    background-image: url(./bg\ img.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: 0vw;
    width: 100vw;
    padding: 50px 100px;
    justify-content: space-around;
    display: flex;
}

.details-text h2{

    font-size: 4em;
}

.details-text p{
    font-size: 2em;

}
.button{
    margin-top: 20px;
}
.button button{
    margin: 20px;
    padding: 15px 15px;
    background-color:rgb(51, 51, 136);
    color: white;
    border: none;
    border-radius: 4px;
     font-size: 1rem;

     }
     
     .details-image{
         border-radius: 40%;
     }
.image-styling{
border-radius: 200px;
}

.education{

    background-color: gray;
    color: white;
 padding: 5vw 6vw;

}
 .edu-heading{
    font-size: 2.5rem;
}
.academic{
    display: flex;
    align-items: center;
    padding: 10px 0;
    
}
.details-head{
    font-size: 2rem;
}
.academic image{
    margin-right: 20px;
}
.details-desc{
    font-size: 1.5rem;
}
.acad-details{
    padding: 20px 0;
}

.project-section{
    background-color: grey;
    color: black;
    padding: 3vw 6vw;
}
.projects{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background-color: darkgray;
    padding: 110px;
    margin-top: 0px;
    justify-content: space-around;
    box-shadow: inset;

}
 .project-head{
     background-color: darkgray;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: xx-large;
     padding: 30px;
 }
/* .single-prj{
    width: 10vw;
    height: 70px;
    padding: 2vw 1vw;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center
    
} */

.single-prj h2{

    margin-top: 10px;
}
.single-prj .live-b{
    margin-top: 10px;
    background-color: blueviolet;


}
.single-prj .github-b{
    margin-top: 10px;
    background-color: blueviolet;

}
.single-prj{
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 6vw 6vw;
    display: flexbox;
    flex-direction: column;
    align-items: center;

}
